@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

button {
  display: block;
  cursor: pointer;
}

p {
  text-align: end;
  padding: 0;
  margin: 0;
  font-size: small;
  color: lightslategray;
}

.row-1,
.row-2 {
  display: flex;
  gap: 8px;
}

/* container */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #9b59b6;
}

.form-wrapper {
  max-width: 1152px;
  margin: 0 auto;
}

.content {
  margin-top: 16px;
}

/* inputs */
.user-details {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.input-box {
  margin-bottom: 15px;
  /* margin: 0 auto; */
  width: calc(100% / 2 - 20px);
}

.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
input,
.radio-group {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
input:focus,
input:valid {
  border-color: #9b59b6;
}

label::after {
  content: " :";
}

span {
  color: #414141;
}

.radio-group {
  gap: 18px;
  display: flex;
  align-items: center;
  border: none;
}

.radio-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 4px 12px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  border: none;
}

.datetime-color {
  color: #414141;
}

.resize {
  resize: none;
  padding: 8px;
  height: 110px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input,
label {
  margin: 5px 5px;
}

form .button {
  height: 45px;
  margin: 0 auto;
}
form .button input {
  height: 70%;
  width: 25%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #9b59b6;
}

.btn-submit {
  padding: 6px 12px;
  background-color: #9b59b6;
  color: #fff;
  border: 1px solid #9b59b6;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.radio-btn {
  width: 12px;
  height: 12px;
}

/* media */
@media (max-width: 767px) {
  /* inputs */
  .row-1,
  .row-2 {
    display: block;
    gap: 0px;
  }

  .input-box {
    margin-bottom: 15px;
    width: calc(100% - 20px);
  }
}
