* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

body {
  background: url("https://images.unsplash.com/photo-1563089145-599997674d42?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    50% no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tabs-container {
  width: 100%;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 0px 30px 2px rgba(138, 18, 137, 0.5);
  overflow: hidden;
}

.tabs {
  display: flex;
  background-color: rgba(98, 0, 234, 0.5);
}

.tab-button {
  flex: 1;
  padding: 15px 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.tab-button:hover {
  background-color: #3700b3;
}

.tab-button.active {
  background-color: rgb(55, 0, 179);
  font-weight: 600;
  box-shadow: rgba(55, 0, 179, 0.5) 0px 3px 40px;
}

.tab-content {
  padding: 20px;
}

.tab-pane {
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.tab-pane.active {
  display: block;
  opacity: 1;
}

.tab-pane h2 {
  transform: translateX(250px);
  opacity: 0;
  margin-top: 0;
  color: #3700b3;
  transition: all 0.6s ease-in-out;
}
.tab-pane.active h2 {
  font-family: fantasy;
  letter-spacing: 1px;
  transform: translateX(0px);
  opacity: 1;
}

.tab-pane .poster {
  margin-top: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.tab-pane .poster img {
  width: 100%;
  height: 514px;
  transform: translateY(500px);
  opacity: 0;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.tab-pane.active .poster img {
  transform: translateY(0px);
  opacity: 1;
}

.cta {
  width: max-content;
  position: absolute;
  bottom: -440px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.4s ease;
  opacity: 0;
  animation: zoomInOut 1.5s linear infinite alternate;
  transition: all 0.4s ease-in-out;
}

.tab-pane.active .cta {
  right: 40px;
  bottom: 40px;
  opacity: 1;
}

.cta:hover {
  color: #3700b3;
}

@media (max-width: 425px) {
  .tab-pane.active .cta {
    right: 35%;
  }
}
@media (max-width: 375px) {
  .tab-pane.active .cta {
    right: 35%;
  }
}
@media (max-width: 320px) {
  .tab-pane.active .cta {
    right: 28%;
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
