/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #fff1ff;
}

/* default */
a {
  text-decoration: none;
  color: black;
}
a,
button {
  cursor: pointer;
}
a,
button,
img {
  display: block;
}
ul {
  list-style: none;
}
ul li a {
  color: #fffefd;
}
/* quick class */
.container {
  width: 100%;
  min-width: 495px;
  max-width: 1330px;
  margin-inline: auto;
  padding-inline: 40px;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.row {
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1024px) {
  .row {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
.col {
  padding-inline: 8px;
}
input {
  font-size: 14px;
  color: rgb(67, 55, 77);
  background-color: transparent;
  padding: 18px;
  background: #f78700b3;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  caret-color: #43374d;
}
input::placeholder {
  color: rgba(67, 55, 77, 0.8);
}
input,
button {
  letter-spacing: 1px;
  border-radius: 12px;
}
/* todo */
form {
  height: 100dvh;
  align-items: center;
}
@media (max-width: 1024px) {
  form {
    padding: 30px 0;
    height: max-content;
    align-items: center;
  }
}
.text-elepse {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: wrap;
}
/* Main Content */
.todo-input-wrap {
  gap: 18px;
  margin-inline: auto;
  width: 400px;
  flex-direction: column;
  background-color: transparent;
}
/* input */
.todo-input-wrap input {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}
/* button */
.todo-input-wrap button {
  cursor: pointer;
  width: max-content;
  padding: 10px 24px;
  background-color: #5f4093;
  color: #fffefd;
  font-weight: 600;
  transition: all 0.4s ease;
}
.todo-input-wrap button:hover {
  color: #fffefd;
  background-color: #43374d;
}
/* ================================================= */
/* Todo Table */
.todos-wrap {
  height: max-content;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
}
.todos-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
  padding: 18px;
  width: 100%;
  height: 100%;
  align-items: center;
}
.todos-wrap ul li {
  text-transform: capitalize;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #5f4093;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  line-height: 1.4;
  color: #fffefd;
  border-radius: 10px;
}
.todos-wrap ul li .todo-flex-wrap:first-child {
  min-width: 70%;
}
.todos-wrap ul li .todo-flex-wrap:first-child {
  min-width: 30%;
}
.todo-title {
  letter-spacing: 1.5px;
  font-weight: 400;
}
.todo-not-fount {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  color: #5f4093;
}
.todo-flex-wrap button {
  font-weight: 600;
  padding: 10px 20px;
  background-color: transparent;
  border: 0px;
  color: #fffefd;
  transition: all 0.4s ease;
}
.todo-flex-wrap button:hover {
  color: red;
  background-color: rgba(255, 254, 253, 0.8);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.todo-flex-wrap button i {
  font-size: 16px;
}
