* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  row-gap: 16px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100dvh;
  padding-inline: 16px;
  margin-inline: auto;
}
.parent {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  gap: 10px;
  margin-inline: auto;
  background-color: whitesmoke;
}
.parent > div {
  cursor: pointer;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  text-align: center;
  padding: 8px;
  line-height: 1.3;
  background-color: burlywood;
  font-weight: 600;
  border: 3px solid darkslategray;
  border-radius: 8px;
  overflow-y: auto;
}

.parent:last-child {
  padding: 8px;
}

.btnRemove {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgba(240, 128, 128, 0.8);
  text-align: center;
}
