/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
  background-color: rgba(65, 65, 65, 0.1);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* default */
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  display: block;
}
section {
  height: 100vh;
}

/* quick */
.container {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  min-width: 425px;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-inline: 18px;
}
.d-flex {
  display: flex;
}
.text-upper {
  text-transform: uppercase;
}
.text-capital {
  text-transform: capitalize;
}
.m-top {
  margin-top: 40px;
}
.p-top-bottom {
  padding: 10px 0;
}
/* FAQ section */
/* faq-main-wrap */
.faq-wrap {
  background-color: whitesmoke;
  border-radius: 12px;
  width: 1040px;
  height: max-content;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* faq left-right body */
.l-faq-wrap,
.r-faq-wrap {
  width: 50%;
  min-width: 390px;
  padding: 30px;
}

/* faq left body */
.l-faq-img-wrap {
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.l-faq-img-wrap img {
  border-radius: 12px;
}
.l-faq-img-wrap:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  border-radius: 12px;
}
.l-faq-content {
  height: 100%;
  top: 0;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  z-index: 1;
}
.l-faq-content span,
.l-faq-content h1,
.l-faq-content p,
.l-faq-content a {
  transition: all 0.3s ease;
}
.l-faq-content span {
  width: max-content;
  padding: 18px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(251, 135, 7);
}
.l-faq-content h1,
.l-faq-content p {
  color: whitesmoke;
}
.l-faq-content h1 {
  font-size: 38px;
}
.l-faq-content p {
  font-size: 18px;
}
.l-faq-content a {
  width: max-content;
  text-align: center;
  padding: 18px 38px;
  font-size: 16px;
  color: white;
  background-color: black;
  font-weight: 600;
  letter-spacing: 1px;
}
.l-faq-content a:hover {
  color: black;
  background-color: rgb(251, 135, 7);
}

/* faq right body */
.r-faq-wrap {
  height: 100%;
  flex-direction: column;
  row-gap: 18px;
}
/* details */
details {
  background-color: rgba(251, 135, 7, 0.3);
  padding: 15px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  transition: all 1s ease;
}
.faq-card-body-wrap {
  padding: 18px;
  background-color: whitesmoke;
  border-radius: 12px;
  margin-top: 30px;
}
/* summary */
summary::marker {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.r-faq-title {
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
}
.r-faq-ans {
  font-size: 18px;
}
.r-faq-body {
  font-size: 16px;
}

@media (max-width: 990px) {
  /* quick */
  .container {
    width: 100%;
    height: auto;
  }
  /* FAQ section */
  /* faq-main-wrap */
  .faq-wrap {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 940px) {
  /* quick */
  .container {
    height: auto;
  }
  /* FAQ section */
  /* faq-main-wrap */
  .faq-wrap {
    width: 100%;
    flex-direction: column;
  }

  /* faq left body */
  .l-faq-content span {
    padding: 14px;
    font-size: 14px;
  }
  .l-faq-content h1 {
    font-size: 36px;
  }
  .l-faq-content p {
    font-size: 14px;
  }
  .l-faq-content a {
    width: max-content;
    text-align: center;
    padding: 14px 28px;
    font-size: 14px;
    color: white;
    background-color: black;
    font-weight: 600;
    letter-spacing: 1px;
  }
  /* right body text-size pending */
}
