/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-dark: ;
  --bg-light: rgb(255, 255, 255);
  --font-dark: rgb(42, 45, 51);
  --font-dark-subtle: rgba(42, 45, 51, 0.6);
  --font-light: rgb(255, 255, 255);
  --font-light-subtle: rgba(255, 255, 255, 0.6);
  --border-color: rgb(255, 202, 3);
  --hover-color: rgb(3, 255, 53);
  --font-title: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-card-heading: ;
  --font-desc: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: hsla(220, 10%, 18%, 1);

  background: linear-gradient(
    270deg,
    hsla(220, 10%, 18%, 1) 10%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(220, 10%, 18%, 1) 10%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(220, 10%, 18%, 1) 10%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2A2D33", endColorstr="#FFFFFF", GradientType=1 );
}
a,
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}

/* quick */
.container {
  width: 100%;
  min-width: 376px;
  padding: 60px;
  margin-inline: auto;
  text-align: center;
}
.text-upp {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}
.d-grid {
  display: grid;
}

/* home-repair */
/* home-top */
.home-top h1 {
  font-family: var(--font-title);
  font-size: 55px;
  color: var(--bg-light);
}
.home-top p {
  font-family: var(--font-desc);
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--bg-light);
}

/* home-bottom */
.home-bottom {
  margin-top: 40px;
}
.services-wrap {
  width: 100%;
  max-width: 1140px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  min-height: 467px;
  justify-content: center;
  justify-items: center;
  margin-inline: auto;
}
/* cards */
.card {
  background-color: var(--bg-light);
  padding: 20px;
  border-radius: 20px;
  max-width: min-content;
  transition: all 0.4s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 25px;
}
/* profile */
.service-profile-wrap {
  width: 181px;
  height: 181px;
  margin-inline: 25px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}
.service-profile-wrap img {
  width: 181px;
  height: 181px;
  object-fit: cover;
  border-radius: 50%;
  border: 9px solid var(--border-color);
  transition: all 0.4s ease;
}
.card:hover .service-profile-wrap img {
  border: 9px solid rgb(3, 255, 53);
}
.card h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: var(--font-dark);
  letter-spacing: 1.5px;
  margin-top: 20px;
}
.card h2 a {
  position: relative;
  padding: 16px;
  text-align: center;
  margin-inline: auto;
  transition: all 0.4s ease;
}
.card h2 a::after {
  position: absolute;
  content: " ";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--hover-color);
  transition: all 0.4s ease-in-out;
}
.card h2 a:hover {
  color: var(--font-dark-subtle);
}
.card:hover h2 a::after {
  width: 100%;
}
.card p {
  line-height: 1.5;
  font-family: var(--font-desc);
  color: rgb(75, 82, 91);
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
}

/* visit-again */
.visit-again {
  margin-top: 40px;
}
.visit-again h3 {
  font-family: var(--font-title);
  color: var(--font-dark);
  font-size: 20px;
  letter-spacing: 1px;
}

/* MEDIA */
@media (max-width: 1185px) {
  /* home-bottom */
  .services-wrap {
    max-width: 850px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 886px) {
  /* home-bottom */
  .services-wrap {
    max-width: 565px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  /* home-bottom */
  .services-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
