* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-inline: 16px;
}

/* header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 999;
}

h1 {
  color: darkslategrey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* main */
.gallery {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* added */
  column-count: 3;
  column-gap: 10px;

  /* gap: 10px; */
  width: 100%;
  margin: 20px auto;
}

.gallery img {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  /* aspect-ratio: 4 / 7; */
  /* added */
  margin-bottom: 10px;

  object-fit: cover;
  border-radius: 5px;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out,
    transform 0.3s ease;
}

.gallery img.show {
  opacity: 1;
  visibility: visible;
  /* transform: translateY(0); */
}

.gallery img:hover {
  transform: scale(1.01);
}

.loading {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
