* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* added */
  column-count: 3;
  column-gap: 10px;

  /* gap: 10px; */
  width: 100%;
  margin: 20px auto;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.gallery img {
  width: 100%;
  /* aspect-ratio: 4 / 7; */
  /* added */
  margin-bottom: 10px;

  object-fit: cover;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.01);
}

.loading {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
