/* global */
:root {
  --bg-primary: rgb(242, 242, 242);
  --bg-secondary: rgb(167, 158, 122);
  --title-color: rgb(167, 158, 122);
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(0, 0, 0);
  --text-light: rgb(255, 255, 255);
  --text-dark: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* default */
a,
img,
button {
  display: block;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* quick */
.d-flex {
  display: flex;
}
.text-upp {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.container {
  width: 100vw;
  min-height: 100vh;
}

/* Design Services */
.design-wrap {
  min-width: 951px;
  padding-bottom: 40px;
}
/* design title */
.design-title h1 {
  font-weight: 600;
  font-size: clamp(50px, 10vw, 60px);
  color: var(--title-color);
  letter-spacing: 0.5px;
  margin-top: 60px;
}
.design-title p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  margin-top: 30px;
}
@media (max-width: 590px) {
  .design-title h1 {
    font-weight: 600;
    font-size: 80px;
  }
  .design-title p {
    font-size: 28px;
  }
}
/* columns */
.design-content {
  margin-top: 140px;
  margin-bottom: 60px;
}
.design-columns {
  justify-content: center;
  align-items: center;
  min-width: 951px;
  width: 951px;
  margin: 0 auto;
  padding-inline: 40px;
}

@media (max-width: 590px) {
  .design-columns {
    justify-content: center;
    flex-direction: column;
    min-width: 951px;
    width: 951px;
    margin: 0 auto;
    padding-inline: 40px;
  }
}
.bg-light {
  background-color: var(--bg-light);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.text-light {
  color: var(--text-light);
}
.text-light a {
  color: var(--text-light);
}
.text-dark {
  color: var(--text-dark);
}
.text-dark a {
  color: var(--text-dark);
}
.design-c1,
.design-c2,
.design-c3 {
  display: flex;
  flex-direction: column;
  min-width: 33.33%;
  margin: 15px;
  gap: 30px;
}

@media (max-width: 590px) {
  .design-c1,
  .design-c2,
  .design-c3 {
    margin-bottom: 38px;
    gap: 48px;
  }
}
.design-card {
  height: auto;
  width: 100%;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 590px) {
  .design-card {
    padding: 60px;
  }
}
/* column 2 */
.design-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.design-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  gap: 20px;
}
.design-img:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 100px;
}
.design-img:hover img {
  transform: scale(1.1);
}
.img-1 {
  margin-top: 22px;
}
@media (max-width: 590px) {
  .img-1 {
    margin-top: 0px;
  }
}
/* column 1-3 */
.design-card a {
  width: max-content;
  margin-inline: auto;
  padding: 8px 1px;
  transition: all 0.3s ease;
  border-width: 0;
  transition: all 0.3s ease;
  position: relative;
}
.design-card a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 0%;
  height: 2px;
  background-color: rgb(214, 74, 80);
  /* transform: scaleX(0); */
  transition: all 0.4s ease;
}
.design-card a:hover::after {
  width: 100%;
  /* transform: scaleX(1); */
}

.design-card h2,
p,
a {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 590px) {
  .design-card h2,
  p,
  a {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
  }
}
.design-card h2 {
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 0.5px;
}
@media (max-width: 590px) {
  .design-card h2 {
    font-size: 48px;
  }
}
.design-card p {
  letter-spacing: 0.5px;
  font-style: italic;
  color: rgb(184, 184, 184);
}
.bg-light p {
  color: rgb(75, 82, 91);
}
/* book now */
.btn-booknow-wrap a {
  margin: 0 auto;
  width: max-content;
  color: var(--text-light);
  background-color: var(--bg-secondary);
  padding: 18px 48px;
  border-radius: 40px;
  transition: all 0.4s ease;
}
@media (max-width: 590px) {
  .btn-booknow-wrap a {
    padding: 18px 68px;
    font-size: 30px;
  }
}
.btn-booknow-wrap a:hover {
  background-color: var(--bg-dark);
  box-shadow: rgba(167, 158, 122, 0.8) 3px 3px 6px 0px inset,
    rgba(167, 158, 122, 0.8) -3px -3px 6px 1px inset;
}
